:root {
    --red: #990011FF;
    --blue: #8AAAE5;
    --dark: #38302e;
    --light: #FCF6F5FF;
    --border-radius: .3rem;
}

* {
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    text-shadow: 10px 10px 10px var(--dark);
    line-height: 1.5;
    font-size: 16px;
}

h1 {
    font-weight: 700;
    margin: 5px;
    color: var(--dark);
    line-height: 3;
    font-size: 3rem;
    background-color: var(--red);
    color: var(--blue);
    padding: 0 200px;
    justify-content: center;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--dark);
    text-shadow: 10px 10px 10px var(--dark);
}

h2 {
    font-weight: 400;
    margin: 5px 100px;
    color: var(--blue);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    line-height: 3;
    font-size: 1.75rem;
    text-align: center;
}

/* .maincard {
    padding: 20px 40px;
    background-color: var(--blue);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    transition: 0.3s;
    border-radius: 20px;
} */

h3 {
    font-weight: 400;
    color: white;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.forecast {
    background-color: var(--blue);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    transition: 0.3s;
    float: left;
    width: 25%;
    padding: 30px 10px;
    border-radius: 20px;
}

p {
    font-size: 1.2rem;
    margin: 10px;
    text-align: center;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width:640px) {

    h1 {
        display: none;
        }
    }